// Css do cronometro
.max-width {
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;
  margin: 20px auto;
  margin-top: 0;
  text-align: center;
  background: transparent;


  .allButtonsStopwatch {
    width: 100px;
    padding: 1px;
    margin-bottom: 1px;
    border: none;
    outline: none;
    font-size: 1.1em;
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 6px;
    color: $primary-color;
    background-color: $secondary-color;
    display: inline-block;

    &:hover {
      background-color: $hover-button-color;
      transition: all 0.5s;
      color: $secondary-color;
    }

    &:active {
      background-color: $primary-color;
    }
  }

  .configDisabledButton {
    cursor: not-allowed;
    opacity: 0.5;

  } 

  h1 {  
    width: 11rem;
    position: relative;
    top: 68px;
    border-radius: 1rem;
    color: $primary-color;
    transition: all 0.5s;
  }

  // CLASSE REFERENTE A FOLHA DE ESTILO DAS CORES DO CEARÁ (BOTÕES E CONTADOR)
  .buttonsCeara {
    background-color: $ceara-color-1;
    color: $ceara-color-2;
    transition: 0.5;

    &:hover {
      background-color: $hover-button-color;
    }

    &:active {
      background-color: $ceara-color-1;
    }
  }

  .counterCeara {
    width: 11rem;
    background-color: $ceara-color-3;
    color: $ceara-color-2;
    border-radius: 1rem;
    transition: 0.5;
  }

  // CLASSE REFERENTE A FOLHA DE ESTILO DAS CORES DO FORTALEZA  (BOTÕES E CONTADOR)
  .buttonsFortaleza {
    background-color: $fortaleza-color-2;
    color: $secondary-color;
    transition: 0.5;
  
    &:hover {
      background-color: $fortaleza-color-3;
      color: $secondary-color;
    }
  
    &.active {
      background-color: $fortaleza-color-1;
      color: $secondary-color;
    }
  }

  .counterFortaleza {
    width: 11rem;
    color: $fortaleza-color-2;
    background-color: $div-config-color;
    border-radius: 1rem;
    transition: 0.5;
  }

  // CLASSE REFERENTE A FOLHA DE ESTILO DAS CORES DA ARENA (PADRÃO) (BOTÕES E CONTADOR)

  .buttonsArena{
    background-color: $arena-color-2;
    color: $arena-color-1;
    transition: 0.5;
  
    &:hover {
      background-color: $arena-color-3;
      color: $arena-color-1;
    }
  
    &.active {
      background-color: $arena-color-2;;
      color: $arena-color-1;
    }
  }

  .counterArena{
    width: 11rem;
    color: $arena-color-2;
    background-color: $div-config-color;
    border-radius: 1rem;
    transition: 0.5;
  }
}






