// Barra superior

div.frame {
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-sup-bar;
  transition: all 0.5s;
  -webkit-app-region: drag;
  /* z-index: 5; */
  /* position: fixed; */

  div.windowTitle {
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 0 0.9rem;
    
    span {
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    h3 {
      font-size: 1rem;
      margin: 0 0 0 0.5rem;
    }
  }

  div.windowInputText {
    margin: 0;
    padding: 0 0.125rem 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    -webkit-app-region: no-drag;

    #inputText {
      width: 70px;
      height: 20px;
      padding: 2px;
      border: 1px solid;
      border-radius: 0.5rem;
      outline: none;
      text-align: center;
      background-color: $input-stopwatch;
    }

    #insertTextButton {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 0.5rem;
      padding: 0;
      width: 2.0625rem; // 70px
      height: 1.5625rem; // 25px
      outline: none;
      border: 1px solid black;
      border-radius: 0.3125rem; // 5px
      background-color: $button-insert;
      color: $button-color-text;
      transition: 0.5s;
      font-size: 0.9375rem; // 15px
      cursor: pointer;
      
      &:hover {
        background-color: $button-insert-hover;
        color: $secondary-color;
      }

      &:active {
        background-color: $primary-color;
        color: $secondary-color;
      }

      img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }

  }

  div.windowColorControl {
    position: relative;
    background-color: $div-config-color;
    border-radius: 1.5rem;
    width: 5rem;
    height: 1.7375rem;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;

    #csc {
      position: relative;
      right: 0.625rem;
      width: 0.9375rem;
      height: 0.9375rem;
      margin: 0;
      padding: 0;
      outline: none;
      cursor: pointer;
      border: none;
      border-radius: 1.5rem;
      background-color: $ceara-color-1;
      transition: 0.5s;
      -webkit-app-region: no-drag;
  
      &:hover {
        transform: scale(1.2);
        background-color: $ceara-color-1;
      }
      &:active {
        transform: scale(1.2);
        background-color: $secondary-color;
      }
    }
  
    #for {
      position: relative;
      width: 0.9375rem;
      height: 0.9375rem;
      margin: 0;
      padding: 0;
      outline: none;
      cursor: pointer;
      border: none;
      border-radius: 1.5rem;
      background-color: $fortaleza-color-1;
      transition: 0.5s;
      -webkit-app-region: no-drag;
  
      &:hover {
        transform: scale(1.2);
        background-color: $fortaleza-color-1;
      }
      &:active {
        transform: scale(1.2);
      }
    }
  
    #arena {
      position: relative;
      left: 0.625rem;
      width: 0.9375rem;
      height: 0.9375rem;
      margin: 0;
      padding: 0;
      outline: none;
      cursor: pointer;
      border: none;
      border-radius: 1.5rem;
      background-color: $arena-color-2;
      transition: 0.5s;
      -webkit-app-region: no-drag;
      
      &:hover {
        transform: scale(1.2);
        background-color: $arena-color-2;
      }
      &:active {
        transform: scale(1.2);
      }
    }
  }

  div.windowInputNumber {
    margin: 0;
    padding: 0 0.125rem 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    -webkit-app-region: no-drag;

    #minutes, #seconds {
      width: 20px;
      height: 20px;
      padding: 2px;
      border: 1px solid;
      border-radius: 0.5rem;
      outline: none;
      text-align: center;
      background-color: $input-stopwatch;
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    #insert {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 0 0 0.5rem;
      padding: 0;
      width: 2.0625rem; // 70px
      height: 1.5625rem; // 25px
      outline: none;
      border: 1px solid black;
      border-radius: 0.3125rem; // 5px
      background-color: $button-insert;
      color: $button-color-text;
      transition: 0.5s;
      font-size: 0.9375rem; // 15px
      cursor: pointer;
      
      &:hover {
        background-color: $button-insert-hover;
        color: $secondary-color;
      }

      &:active {
        background-color: $primary-color;
        color: $secondary-color;
      }

      img {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
  }

  div.windowButtonsControl {
    margin: 0;
    padding: 0 0.125rem 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    -webkit-app-region: no-drag;

    #configButton {
      height: 0.5rem;
      width: 0.625rem;
      margin: 0;
      padding: 0.625rem 0.3125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      
      &:hover {
        cursor: pointer;
        background-color: $hover-button-color;
      }
      
      img {
        height: 0.9375rem;
        width: 0.9375rem;
      }
    }

    #minimizeButton {
      height: 0.5rem;
      width: 0.625rem;
      margin: 0;
      padding: 0.625rem 0.3125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
  
      &:hover {
        cursor: pointer;
        background-color: $hover-button-color;
      }
  
      img {
        width: 2px;
        width: 0.9375rem;
      }
    }

    #closeButton {
      height: 0.5rem;
      width: 0.625rem;
      margin: 0;
      padding: 0.625rem 0.3125rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
  
      &:hover {
        cursor: pointer;
        background-color: $close-button-hover;
      }
  
      img {
        height: 12px;
        width: 12px;
      }
    }
  }
}

// DIV QUANDO A COR DO CEARÁ FOR CLICADA 
div.addColorCeara {
  background-color: $ceara-color-1;

  h3 {
    color: $secondary-color;
  }
}

// DIV QUANDO COR DO FORTALEZA FOR CLICADA
div.addColorFortaleza {
  background-color: $fortaleza-color-1;
  transition: 0.5;
  
  h3{
    color: $secondary-color;
  }
}

// DIV QUANDO COR DO DA ARENA FOR CLICADA
div.addColorArena {
  background-color: $arena-color-2;
  transition: 0.5;
  
  h3{
    color: $secondary-color;
  }
}




