// Variables colors
$primary-color: black;
$secondary-color: rgb(248, 238, 238);

$color-sup-bar: rgb(248, 238, 238); 

$hover-button-color: rgb(189, 189, 189);

$div-config-color: rgb(214, 208, 208);
$button-color-text: black;

$input-stopwatch: rgb(243, 235, 243);
$button-insert: rgb(243, 235, 243);
$button-insert-hover: rgb(142, 149, 151);

$close-button-hover: rgb(190, 22, 22);


// CEARÁ
$ceara-color-1: #000000;
$ceara-color-2: #FFFFFF;
$ceara-color-3: #BEAEB1;
// FORTALEZA
$fortaleza-color-1: #FE1108;
$fortaleza-color-2: #111083;
$fortaleza-color-3: #7171d4;

// DEFAULT
$arena-color-1: #F4FCFD;
$arena-color-2: #1F8B46;
$arena-color-3: #2bd876;

@import 'geral';
@import 'supBar';
@import 'config';
@import 'stopwatch';